[Unit]
Description=Tomba CLI — B2B email finder, verifier, phone finder and company enrichment.
Documentation=https://tomba.io
After=network.target

[Service]
ExecStart=/usr/bin/tomba serve
Restart=on-failure
StandardOutput=journal
StandardError=journal
SyslogIdentifier=tomba
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target